.carousel-item img {
    height: 300px; /* Ajusta la altura según tus necesidades */
    width: 100%; /* Asegúrate de que la imagen cubra todo el ancho del carrusel */
    object-fit: cover; /* Ajusta la imagen para que cubra el área del carrusel sin distorsionarse */
    object-position: center; /* Centra la imagen en el carrusel */
    filter: brightness(70%);
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.carousel-caption h5 {
    font-size: 24px; /* Ajusta el tamaño del título */
    color: white; /* Ajusta el color del título */
}

.carousel-caption p {
    font-size: 18px; /* Ajusta el tamaño del subtítulo */
    color: white; /* Ajusta el color del subtítulo */
}


  