

#map {
    width: 400px;
    height: 300px;
    border: 1px solid #ccc;
    margin: 0 auto;
}

.datos-basicos-button-container {
    display: flex; /* Utiliza el modelo de caja flexible */
    justify-content: flex-end; /* Alinea el contenido al final del contenedor */
    margin-top: 20px; /* Margen superior para separar el botón */
}

.start-button {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno interno */
    font-size: 18px; /* Tamaño de fuente */
    cursor: pointer; /* Cursor al pasar el mouse */
    border: 1px solid #ccc;
    align-self: flex-end !important; /* / Alinear el botón a la derecha / */
}

.start-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

.btn-primary {
    margin-top: 2rem; /* 4 unidades de espacio arriba */
    margin-bottom: 2rem; /* 4 unidades de espacio abajo */
    border: 1px solid #ccc;
    border-radius: 8px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin-top: 4rem; /* 4 unidades de espacio arriba */
    margin-bottom: 4rem; /* 4 unidades de espacio abajo */
    border: 1px solid #ccc;
    border-radius: 8px;
  }