<h1>Buscar Dirección en OpenStreetMap</h1>
<form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="address">Dirección:</label>
    <input type="text" class="form-control" id="address" formControlName="address" placeholder="Ingrese la dirección">
  </div>
  <button type="submit" class="btn btn-primary">Buscar</button>
  <button type="button" class="btn btn-danger ml-2" (click)="clearMap()">Limpiar Mapa</button>
</form>
<div class="container-fluid">
  <div id="map"></div>
</div>




