#map {
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.ml-2 {
    margin-left: 0.5rem !important;
}

.minheight{
    min-height: 85vh;
}