<app-nav-bar-auth></app-nav-bar-auth>
<div class="full-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-7 col-md-5">
                <div class="card shadow-lg rounded-lg">
                    <div class="card-body">
                        <div class="text-center mb-4">
                            <h2 class="text-2xl font-bold">Skybnb</h2>
                            <img src="" alt="" class="mx-auto mt-2">
                        </div>

                        <form>
                            <div class="mb-4">
                                <label for="username" class="form-label">Correo electrónico</label>
                                <input type="text" id="username" name="username" class="form-control">
                            </div>

                            <div class="mb-4">
                                <label for="password" class="form-label">Contraseña</label>
                                <div class="input-group">
                                    <input type="password" id="password" name="password" class="form-control">
                                </div>
                            </div>

                            <div class="mb-4">
                                <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
                            </div>
                        </form>

                        <div class="text-center">
                            <a href="#" class="text-primary">Cree una cuenta</a>
                            <p class="text-secondary mt-3">¿Olvidó su contraseña?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>