
<div class="full-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-7 col-md-5">
                <div class="card shadow-lg rounded-lg mt-2">
                    <div class="card-body">
                        <div class="welcome-message text-2xl font-bold mb-4">
                            ¡Bienvenido a SkyBNB!
                        </div>
                        <div class="text-center mb-4">
                            <p class="text-lg text-gray-600 mt-2">¡Qué bueno tenerte de vuelta!</p>
                            <img src="assets/img/Logo.png" alt="Logo SKYBNB" class="mx-auto d-block" style="max-width: 200px;">    
                        </div>

                        <form>
                            <div class="mb-4">
                                <label for="username" class="form-label text-form">Correo electrónico</label>
                                <input type="text" id="username" name="username" class="form-control"
                                    [(ngModel)]="user.email" (input)="hideErrorMessage()">
                            </div>

                            <div class="mb-4">
                                <label for="password" class="form-label text-form">Contraseña</label>
                                <div class="input-group">
                                    <input type="password" id="password" name="password" class="form-control"
                                        [(ngModel)]="user.password" (input)="hideErrorMessage()">
                                </div>
                            </div>

                            <div class="mb-4">
                                <button type="submit" class="btn btn-primary w-100" (click)="login()">Iniciar
                                    sesión</button>
                            </div>
                        </form>
                        <div class="error">
                            @if(show_error){
                            <p>{{mensaje_error}}</p>
                            }
                        </div>
                        <div class="text-center space">
                            <p class="text-secondary">¿Aún no tienes una cuenta?</p>
                            <a class="btn btn-outline-primary" [routerLink]="['/auth/register']">Regístrate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
