.card-container {
  position: relative;
}

.card {
  color: #707070;
  font-weight: 300;
  border-color: #DDDDDD;
  position: relative;
  border: none;
}

/* Contenedor para la imagen de la tarjeta que mantiene la proporción cuadrada */
.card-img-container {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Esto crea una relación de aspecto de 1:1, haciéndolo cuadrado */
}

.card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0; /* Inicialmente oculto */
  transform: translateX(-100%); /* Inicialmente desplazado a la izquierda */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Animaciones de transición */
}

.card-img-top.show {
  opacity: 1; /* Hacer visible */
  transform: translateX(0); /* Mover a la posición original */
}

.card-img-top.delay-0 {
  transition-delay: 0.1s;
}

.card-img-top.delay-1 {
  transition-delay: 0.2s;
}

.card-img-top.delay-2 {
  transition-delay: 0.3s;
}

.card-img-top.delay-3 {
  transition-delay: 0.4s;
}

.card-img-top.delay-4 {
  transition-delay: 0.5s;
}

.card-img-top.delay-5 {
  transition-delay: 0.6s;
}

/* Estilos para títulos */
.titulo {
  color: black;
}

.carousel-controls {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel-control-prev {
  left: 10px; /* Ajusta la posición a la izquierda */
}

.carousel-control-next {
  right: 10px; /* Ajusta la posición a la derecha */
}

.precio {
  font-weight: bold;
  color: #000000; /* Cambia este valor por el color que desees */
}
