/* Estilos para tarjetas */
.tarjeta {
    color: #707070;
    font-weight: 300;
    border-color: #DDDDDD;
}

/* Estilos para la imagen superior de la tarjeta */
.card-img-top {
    height: 300px;
    width: 100%;
}

/* Estilos para títulos */
.titulo {
    color: black;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    /* Evita que los botones bloqueen los clics en la tarjeta */
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.carousel-control-prev {
    left: 10px;
    /* Ajusta la posición a la izquierda */
}

.carousel-control-next {
    right: 10px;
    /* Ajusta la posición a la derecha */
}

.card-container {
    position: relative;
}

.card {
    position: relative;
    /* Importante para que los botones se posicionen correctamente */
}