.options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .option {
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .ticket {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo transparente */
    padding: 10px;
    border: 1px solid #000;
    color: #000; /* Color de texto negro */
  }
  
  .ticket.show {
    display: block;
  }
  