<div class="container">
  <div class="titulo">
    <h2>Suba las imágenes de su alojamiento</h2>
  </div>
  <input type="file" (change)="onFileSelected($event)" multiple accept="image/*">

  <div *ngIf="uploadedImages.length === 0" class="placeholder">
    <img src="path/to/default-image.jpg" alt="Placeholder image">
  </div>

  <!-- Carrusel de Bootstrap -->
  <div *ngIf="uploadedImages.length > 0">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let image of uploadedImages; let i = index" [class.active]="i === 0">
          <img [src]="image.base64" class="d-block w-100" alt="Image">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="button-container">
    <button class="start-button-volver" (click)="navigateToPaso3()">Volver</button>
    <button class="start-button-avanzar" (click)="navigateToInformacion()">Continuar</button>
  </div>
</div>
