<article class="col-12 col-sm-6 col-md-4 col-lg-3 my-4">
    <div class="card mx-3">
      <img [src]="imageUrl" class="card-img-top" alt="">
      <div class="tarjeta card-body">
        <h5 class="title card-title">{{ title }}</h5>
        <p class="card-text">{{ references }}</p>
        <p class="card-text-dos">{{ date }}</p>
        <hr>
        <div class="precios d-flex justify-content-end align-items-end">
          <p>{{ price }}</p>
        </div>
      </div>
    </div>
  </article>
  