<div class="container">
  <div class="titulo">
    <h2>¿Cuál de estas opciones describe mejor tu espacio?</h2>
  </div>
  <div class="opciones-container">
    <button
      class="opcion"
      [class.selected]="nuevoAlojamiento.tipo_alojamiento === 'Casa'"
      (click)="seleccionarOpcion('Casa')"
    >
      <i class="fas fa-home"></i> <!-- Icono de casa -->
      Casa
    </button>
    <button
      class="opcion"
      [class.selected]="nuevoAlojamiento.tipo_alojamiento === 'Cabaña'"
      (click)="seleccionarOpcion('Cabaña')"
    >
    <i class="fa-solid fa-house-chimney"></i><!-- Icono de cabaña -->
      Cabaña
    </button>
    <button
      class="opcion"
      [class.selected]="nuevoAlojamiento.tipo_alojamiento === 'Departamento'"
      (click)="seleccionarOpcion('Departamento')"
    >
      <i class="fas fa-building icono"></i> <!-- Icono de departamento -->
      Departamento
    </button>
  </div>
  <button class="start-button" (click)="navigateToUbicacion()">Continuar</button>
</div>