<div class="container heightmin d-flex flex-column justify-content-center align-items-center border rounded">
  <div class="row mb-5 py-4">
    <h2>¿Cuál de estas opciones describe mejor tu espacio?</h2>
  </div>
  <div class="row w-100" *ngIf="seccionActual === 'tipoAlojamiento'">
    <div class="col-12 d-flex flex-wrap justify-content-center gap-3">
      <button *ngFor="let tipo of tiposAlojamiento; let i = index" class="btn btn-light border rounded shadow-sm p-4"
        [class.selected]="formData.tipoalojamiento === tipo.id"
        (click)="seleccionarTipo(tipo.id)">
        <div class="d-flex flex-column align-items-center">
          <img [src]="tipo.image" alt="{{ tipo.nombre }}" class="img-fluid rounded mb-2" style="height: 12rem; width: 13rem;">
          <div class="fw-bold">{{ tipo.nombre }}</div>
        </div>
      </button>
    </div>
    <div *ngIf="showError" class="text-danger mt-3">
      Por favor, selecciona una opción para continuar.
    </div>
  </div>
  <div class="row w-100 py-4">
    <div class="col d-flex justify-content-between">
      <button class="btn btn-primary" (click)="navigateToPaso1()">Volver</button>
      <button class="btn btn-primary" (click)="validateAndNavigate()">Continuar</button>
    </div>
  </div>
</div>