<div class="container">
  <div class="titulo">
    <h2>¿Cuál de estas opciones describe mejor tu espacio?</h2>
  </div>
  <div class="opciones-container" *ngIf="seccionActual === 'tipoAlojamiento'">
    <div class="opcion-container">
      <button *ngFor="let tipo of tiposAlojamiento; let i = index" class="opcion"
        [class.selected]="preferenciasForm.get('tipoAlojamiento')?.value === tipo.nombre"
        [class.intercalado]="i >= 3 && i % 2 === 1"
        (click)="seleccionarTipo(tipo.nombre)">
        <div class="opcion-content">
          <img [src]="tipo.image" alt="{{ tipo.nombre }}">
          <div>{{ tipo.nombre }}</div>
        </div>
      </button>
    </div>
  </div>
  <div class="button-container">
    <button class="start-button-volver" (click)="navigateToPaso1()">Volver</button>
    <button class="start-button-avanzar" (click)="navigateToUbicacion()">Continuar</button>
  </div>
</div>
