.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: relative;
}

.titulo {
  margin-bottom: 10rem;
}

.opciones-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15rem;
}

.opcion-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.opcion {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opcion.selected {
  background-color: #007bff;
  color: #fff;
  border: 2px solid #007bff;
}

.icono {
  margin-right: 10px;
}

.start-button-avanzar, .start-button-volver {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
}

.start-button-avanzar:hover, .start-button-volver:hover {
  background-color: #0056b3;
}

.button-container {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.opciones-container button img {
  width: 150px;
  height: 100px;
}

.opcion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
}
