.heightmin{
  min-height: 85vh;
}


.selected {
  background-color: #007bff;
  color: #fff;
  border: 2px solid #007bff;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.bottom-0 {
  bottom: 0;
}