<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header custom-modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Acerca de este espacio</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom-modal-body">
        <p>Cabaña El Ocaso ofrece alojamiento en Laguna Verde con vistas al mar.</p>
        <p>La cabaña cuenta con 3 dormitorios con camas de dos plazas y TV de pantalla plana. La cocina se encuentra
          equipada con todo lo necesario para su utilización, contamos con nevera, horno, campana y todos los
          implementos para cocinar. Amplia zona de estar con una hermosa vista. Baño con agua caliente. Terraza, zona
          con parrilla y estacionamiento privado. Viña del Mar se encuentra a tan solo 25 km de la casa.</p>
        <p><b>Espacio</b></p>
        <p>Cabaña El Ocaso brinda un lugar para disfrutar de la naturaleza, vivir momentos de relax y disfrutar
          actividades al aire libre con una hermosa vista al mar.</p>
        <p><b>Acceso de los huéspedes</b></p>
        <p>La cabaña se encuentra para uso exclusivo de los huéspedes, no se permiten visitas.</p>
        <p><b>Otros aspectos a destacar</b></p>
        <p>La cabaña tiene una capacidad máxima de 6 personas pero el cobro se realiza por huésped (el precio varía a
          mayor cantidad de huéspedes). No se permiten fiestas ni visitas.</p>
      </div>
      <div class="modal-footer custom-modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
