<div class="modal">
  <div class="modal-content">
      <h2>Nuestro compromiso con la comunidad</h2>
      <h3>En Skybnb, creemos en una comunidad inclusiva y respetuosa. Al unirte a nosotros, te comprometes a:</h3>
      <p>- Tratar a todos los miembros de la comunidad con respeto y empatía.</p>
      <p>- No discriminar por motivos de raza, religión, nacionalidad, etnia, discapacidad, sexo, identidad de género, orientación sexual o edad.</p>
      <p>- Fomentar un ambiente seguro y acogedor para todos.</p>  
      <p>- Respetar la diversidad y la singularidad de cada individuo.</p>
        
        
      <p>Gracias por ser parte de nuestra comunidad y ayudar a hacer de Skybnb un lugar mejor para todos.</p>
      <div class="button-container">
        <button (click)="irAlojamientos()">Alojamientos</button>
        <button (click)="onCloseModal()">Cerrar Modal</button>
      </div>
  </div>
</div>
