.start-button {
    margin-top: 20px; /* Margen superior para separar el botón */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno interno */
    font-size: 18px; /* Tamaño de fuente */
    cursor: pointer; /* Cursor al pasar el mouse */
    align-self: flex-end; /* Alinear el botón a la derecha */
    border-radius: 5px; /* Borde redondeado para los botones */
    width: 150px; /* Ancho fijo para los botones */
}

.start-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

.container {
    padding-top: 4rem;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.left-div { /* Ocupa menos espacio que right-div */
    text-align: center;
}

.left-div p {
    font-size: 60px; /* Tamaño de fuente más grande */
    font-weight: bold; /* Texto en negrita */
}

.step {
    text-align: center;
    margin-bottom: 20px; /* Margen inferior para separar los pasos */
}

