<div class="container">
    <div class="left-div">
        <p>Empezar a utilizar Skybnb es muy sencillo</p>
    </div>
    <div class="right-div">
        <div class="step">
            <div style="display: flex; align-items: center;">
                <div style="flex: 1;">
                    <h3 style="margin: 0; text-align: left;">Paso 1 Describe tu espacio</h3>
                    <p style="margin: 0; text-align: left;">Describe cual es tu espacio, el entorno que lo rodea y que
                        actividades se realizan en este.</p>
                </div>
                <div style="flex: 1;">
                    <img src="https://a0.muscache.com/4ea/air/v2/pictures/da2e1a40-a92b-449e-8575-d8208cc5d409.jpg"
                        alt="Imagen de ejemplo" style="max-width: 30%; height: auto;">
                </div>
            </div>
        </div>

        <div class="step">
            <div style="display: flex; align-items: center;">
                <div style="flex: 1;">
                    <h3 style="margin: 0; text-align: left;">Paso 2 Haz que destaque</h3>
                    <p style="margin: 0; text-align: left;">Comparte algunos datos básicos, como la ubicación y cuántos
                        huéspedes pueden quedarse en el lugar.</p>
                </div>
                <div style="flex: 1;">
                    <img src="https://a0.muscache.com/4ea/air/v2/pictures/bfc0bc89-58cb-4525-a26e-7b23b750ee00.jpg"
                        alt="Imagen de ejemplo" style="max-width: 30%; height: auto;">
                </div>
            </div>
        </div>
        <div class="step">
            <div style="display: flex; align-items: center;">
                <div style="flex: 1;">
                    <h3 style="margin: 0; text-align: left;">Paso 3 Terminar y publicar</h3>
                    <p style="margin: 0; text-align: left;">Agrega al menos cinco fotos, un título,una descripción,
                        establece un precio inicial y publica tu anuncio.</p>
                </div>
                <div style="flex: 1;">
                    <img src="https://a0.muscache.com/4ea/air/v2/pictures/c0634c73-9109-4710-8968-3e927df1191c.jpg"
                        alt="Imagen de ejemplo" style="max-width: 30%; height: auto;">
                </div>
            </div>
        </div>
        <button class="start-button"
            [routerLink]="['/anfitrion/paso1']">Comencemos</button><!-- Botón al final de right-div -->
    </div> <!-- Cierre del div con la clase right-div -->
</div>