<div class="container heightmin d-flex flex-column justify-content-center align-items-center border rounded">
  <div class="row mb-5 py-4">
    <h2>¿Cuál de estas opciones describe mejor tu entorno?</h2>
  </div>
  <div class="row w-100" *ngIf="seccionActual === 'ubicacion'">
    <div class="col-12 d-flex flex-wrap justify-content-center gap-3">
      <button *ngFor="let ubicacion of ubicaciones; let i = index" class="btn btn-light border rounded shadow-sm p-4"
        [class.selected]="formData.ubicacion === ubicacion.id"
        [class.intercalado]="i % 3 === 2 && i !== ubicaciones.length - 1"
        (click)="seleccionarUbicacion(ubicacion.id)">
        <div class="d-flex flex-column align-items-center">
          <img [src]="ubicacion.image" alt="{{ ubicacion.nombre }}" class="img-fluid mb-2" style="height: 12rem; width: 13rem;">
          <div class="fw-bold">{{ ubicacion.nombre }}</div>
        </div>
      </button>
    </div>
  </div>
  <div class="row w-100 py-4">
    <div class="col d-flex justify-content-between">
      <button class="btn btn-primary" (click)="navigateToDescripcion()">Volver</button>
      <button class="btn btn-primary" (click)="navigateToActividad()">Continuar</button>
    </div>
  </div>
</div>