.heightmin {
  min-height: 85vh;
}

.selected {
  background-color: #007bff;
  color: #fff;
  border: 2px solid #007bff;
}

.intercalado {
  background-color: #f8f9fa; /* Color de fondo alternativo */
}

.bottom-0 {
  bottom: 0;
}