.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  .input, .textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }

  .start-button {
    margin-top: 20px; /* Margen superior para separar el botón */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno interno */
    font-size: 18px; /* Tamaño de fuente */
    cursor: pointer; /* Cursor al pasar el mouse */
    align-self: flex-end; /* Alinear el botón a la derecha */
}

.start-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}
