<div class="container">
  <h2>Ingresa los detalles del alojamiento</h2>
  <form (ngSubmit)="guardarAlojamiento()">
    <div class="form-group">
      <label for="titulo">Título</label>
      <input type="text" id="titulo" name="titulo" class="form-control" placeholder="Ingresa el título" required [(ngModel)]="alojamiento.nombre">
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea id="descripcion" name="descripcion" class="form-control" placeholder="Ingresa la descripción" required></textarea>
    </div>
    <div class="form-group">
      <label for="precio">Precio</label>
      <input type="number" id="precio" name="precio" class="form-control" placeholder="Ingresa el precio" required [(ngModel)]="alojamiento.precio">
    </div>
    <div class="button-container">
      <button class="start-button-volver" (click)="navigateToImagen()">Volver</button>
      <button type="submit" class="btn btn-primary" (click)="confirmarGuardar()">Guardar Alojamiento</button>
    </div>
  </form>
  <div *ngIf="alojamientoGuardadoExitoso" class="mensaje-exito">
    Alojamiento número {{ numeroAlojamientoGuardado }} guardado con éxito.
  </div>
</div>
