<div class="container">
  <h2>Ingresa los detalles del alojamiento</h2>
  <form (ngSubmit)="guardarAlojamiento()">
    <div class="form-group">
      <label for="titulo">Título</label>
      <input type="text" id="titulo" name="titulo" class="form-control" placeholder="Ingresa el título" required [(ngModel)]="formData.nombre" #titulo="ngModel">
      <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="invalid-feedback">
        El título es requerido.
      </div>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea id="descripcion" name="descripcion" class="form-control" placeholder="Ingresa la descripción" required [(ngModel)]="formData.descripcion" #descripcion="ngModel"></textarea>
      <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="invalid-feedback">
        La descripción es requerida.
      </div>
    </div>
    <div class="form-group">
      <label for="precio">Precio</label>
      <input type="number" id="precio" name="precio" class="form-control" placeholder="Ingresa el precio" required [(ngModel)]="formData.precio" #precio="ngModel">
      <div *ngIf="precio.invalid && (precio.dirty || precio.touched)" class="invalid-feedback">
        El precio es requerido.
      </div>
    </div>
    <div class="button-container">
      <button class="start-button-volver" (click)="navigateToImagen()">Volver</button>
      <button class="btn btn-primary" [disabled]="titulo.invalid || descripcion.invalid || precio.invalid">Guardar Alojamiento</button>
    </div>
  </form>
</div>
