<nav class="navbar navbar-expand-lg">
    <div class="container-lg">
      <img src="assets/img/Logo SKYBNB.png" alt="Logo SKYBNB">
      <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation" style="border-color: #FFFFFF80;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <p [routerLink]="['auth/register']">Registrate</p>
          </li>
          <li class="nav-item ">
            <p [routerLink]="['auth/login']">Login</p>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Pon tu espacio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Centro de ayuda</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>