/* Ajustar tamaño del logo */
.navbar img{
    width: 50px;
    }

/* Cambiar el color de fondo */
.navbar {
    background-color: #00add0; /* Color verde */
}

/* Cambiar el color del texto */
.navbar a {
    color: white; /* Texto blanco */
}
