<nav class="navbar navbar-expand-lg">
  <div class="container-lg">
    <a class="navbar-brand" href="http://localhost:4200/">
      <img src="assets/img/Logo SKYBNB.png" alt="Logo SKYBNB">
      <span>SKYBNB</span>
    </a>
    <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation" style="border-color: #FFFFFF80;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
      <ul class="navbar-nav">
        @if (!autenticado()){
          <li class="nav-item ">
            <p [routerLink]="['auth/register']">Registrate</p>
          </li>
          <li class="nav-item ">
            <p [routerLink]="['auth/login']">Login</p>
          </li>
        } @else {
          <li class="nav-item">
            <p [routerLink]="[]">Bienvenido, {{ correo }}</p>
          </li>
          <li class="nav-item ">
            <p (click)="deslogear()">Cerrar Sesión</p>
          </li>
        }
        <li class="nav-item">
          <p (click)="onModoAnfitrionClicked()">Modo Anfitrión</p>
        </li>
      </ul>
    </div>
  </div>
</nav>