<app-nav-bar-auth *ngIf="isLoginPage() || isRegisterPage()"></app-nav-bar-auth>

<app-navbar *ngIf="!isLoginPage() && !isRegisterPage()" (modoAnfitrionClicked)="openModal()" (preferenciasClicked)="openPreferencias()"></app-navbar>

<div *ngIf="modalVisible">
  <app-modal (closeModalClicked)="closeModal()"></app-modal>
</div>

<div *ngIf="preferenciasVisible">
  <app-preferencias (closeModalClicked)="closePreferencias()"></app-preferencias>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
