footer {
    padding: 5px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.space{
   background-color: #f8f9fa;
   height: 8vh;
}

/* Cambiar el color del texto */
.footer-info,
i {
    font-weight: 500;
    color: black;
}

/* Ajustar tamaño del logo */
.footer-image {
    width: 50px;
}