<div class="filter-container">
    <h3>Filtrar Búsqueda</h3>
    <form>
      <label for="type">Tipo de Alojamiento:</label>
      <select id="type" [(ngModel)]="filters.type" name="type">
        <option value="">Seleccione...</option>
        <option value="Cabaña">Cabaña</option>
        <option value="Casa">Casa</option>
        <option value="Departamento">Departamento</option>
      </select>
  
      <label for="environment">Entorno:</label>
      <select id="environment" [(ngModel)]="filters.environment" name="environment">
        <option value="">Seleccione...</option>
        <option value="Bosque">Bosque</option>
        <option value="Playa">Playa</option>
        <option value="Ciudad">Ciudad</option>
      </select>
  
      <label for="activity1">Actividad 1:</label>
      <select id="activity1" [(ngModel)]="filters.activity1" name="activity1">
        <option value="">Seleccione...</option>
        <option value="Surf">Surf</option>
        <option value="Buceo">Buceo</option>
        <option value="Escalada en roca">Escalada en roca</option>
        <option value="Senderismo">Senderismo</option>
        <option value="Caminata al aire libre">Caminata al aire libre</option>
        <option value="No deseo realizar actividad">No deseo realizar actividad</option>
      </select>
  
      <label for="activity2">Actividad 2:</label>
      <select id="activity2" [(ngModel)]="filters.activity2" name="activity2">
        <option value="">Seleccione...</option>
        <option value="Surf">Surf</option>
        <option value="Buceo">Buceo</option>
        <option value="Escalada en roca">Escalada en roca</option>
        <option value="Senderismo">Senderismo</option>
        <option value="Caminata al aire libre">Caminata al aire libre</option>
        <option value="No deseo realizar actividad">No deseo realizar actividad</option>
      </select>
  
      <label for="activity3">Actividad 3:</label>
      <select id="activity3" [(ngModel)]="filters.activity3" name="activity3">
        <option value="">Seleccione...</option>
        <option value="Surf">Surf</option>
        <option value="Buceo">Buceo</option>
        <option value="Escalada en roca">Escalada en roca</option>
        <option value="Senderismo">Senderismo</option>
        <option value="Caminata al aire libre">Caminata al aire libre</option>
        <option value="No deseo realizar actividad">No deseo realizar actividad</option>
      </select>
    </form>
  </div>
  