<div class="filter-container">
    <h3>Filtrar Búsqueda</h3>
    <form>
      <label for="type">Tipo de Alojamiento:</label>
      <select id="type" [(ngModel)]="filters.type" name="type">
        <option value="">Seleccione...</option>
        <option value="Cabaña">Cabaña</option>
        <option value="Casa">Casa</option>
        <option value="Departamento">Departamento</option>
      </select>
  
      <label for="environment">Entorno:</label>
      <select id="environment" [(ngModel)]="filters.environment" name="environment">
        <option value="">Seleccione...</option>
        <option value="Bosque">Bosque</option>
        <option value="Playa">Playa</option>
        <option value="Ciudad">Ciudad</option>
      </select>
    </form>
  </div>
  