<div *ngIf="isCard" class="skeleton-card">
  <div class="skeleton-image"></div>
  <div class="skeleton-text"></div>
  <div class="skeleton-text short"></div>
</div>

<div *ngIf="isDetail" class="skeleton-detail">
  <div class="skeleton-image" style="height: 600px;"></div>
  
  <div class="skeleton-text"></div>
  <div class="skeleton-text short"></div>
  <div class="skeleton-text short"></div>
  <div class="skeleton-text short"></div>
  <div class="skeleton-text short"></div>
  <div class="skeleton-text"></div>
  <div class="skeleton-text short"></div>
  <div class="skeleton-text short"></div>
  <div class="skeleton-text short"></div>
  <div class="skeleton-text short"></div>
  <div class="skeleton-text"></div>
  <div class="skeleton-text short"></div>
  <div class="skeleton-text short"></div>
  <div class="skeleton-text short"></div>
  <div class="skeleton-text short"></div>
  <div class="skeleton-text "></div>
  
  <div class="skeleton-image" style="height: 300px;"></div>
  
</div>
