.minheight{
    min-height: 85vh;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }

.space-botones{
    margin-top: 15rem !important;
}