.buttons-and-images {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar los elementos horizontalmente */
  margin-bottom: 20px; /* Espacio entre los botones y las imágenes pequeñas */
}

.buttons-and-images > * {
  margin-bottom: 10px; /* Espacio entre los elementos dentro de buttons-and-images */
}

.col-sm-12 img {
  width: 100%;
  height: auto;
}

.formulario-reserva {
  border: 2px solid #ccc; /* Bordes de 2px de grosor y color gris claro */
  border-radius: 10px; /* Esquinas redondeadas */
  padding: 20px; /* Espacio interior alrededor del contenido */
  max-width: 400px; /* Ancho máximo del div */
  margin: 0 auto; /* Centrar el div horizontalmente */
}

/* Estilos para el formulario y sus elementos */
.formulario-reserva form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="date"],
.btn {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  background-color: #007bff; /* Azul brillante */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3; /* Azul más oscuro al pasar el cursor */
}


app-carrusel-info, app-mapa {
  width: 50%; /* Ajusta el ancho según tus necesidades */
  /* Añadir algo de estilo para visualización */
  border: 1px solid white;
  padding: 10px;
}
