<app-modal-information></app-modal-information>
<div class="container">
  <app-carrusel-info *ngIf="alojamiento && alojamiento.imagenes"
    [imagenes]="alojamiento.imagenes | objectToArray"></app-carrusel-info>

  <hr>
  <h2 *ngIf="alojamiento">{{ alojamiento.nombre }}</h2>
  <p *ngIf="alojamiento.descripcion !== undefined">{{ alojamiento.descripcion }}</p>

  <div class="container" *ngIf="alojamiento">
    <p>{{ alojamiento.descripcion_larga }}</p>
    <p *ngIf="alojamiento.precio !== undefined">${{ alojamiento.precio | separadorMiles}} CLP por noche</p>
    <p *ngIf="alojamiento.precio === undefined">El precio no está disponible.</p>
  </div>

  <hr>
  <div *ngIf="alojamiento">
    <h3>Lo que este lugar ofrece</h3>
    <h4>Servicios Básicos</h4>
    <p class="basic-service-item" *ngIf="alojamiento.huespedes !== undefined">Cantidad huespedes: {{
      alojamiento.huespedes }}</p>
    <p class="basic-service-item" *ngIf="alojamiento.banos !== undefined">Cantidad Baños: {{ alojamiento.banos }}</p>
    <p class="basic-service-item" *ngIf="alojamiento.dormitorios !== undefined">Cantidad dormitorios: {{
      alojamiento.dormitorios }}</p>
    <hr>
    <h4>Servicios Adicionales</h4>
    <div *ngIf="alojamiento.mascotas !== undefined">
      <p *ngIf="alojamiento.mascotas">Aceptamos a tu mascota!</p>
    </div>
    <div class="service-list">
      <div *ngFor="let servicio of alojamiento.servicios | objectToArray" class="service-item"> {{ servicio.nombre }}
      </div>
    </div>
  </div>

  <hr>

  <h3>A dónde irás</h3>
  <div class="container-flex">
    <div class="mapa-container">
      <app-mapa [direccion]="alojamiento.direccion"></app-mapa>
    </div>
    <div class="reserva-container" *ngIf="alojamiento">
      <app-reserva [alojamientoId]="alojamiento.id" [alojamientoPrecio]="alojamiento.precio"></app-reserva>
    </div>
  </div>
</div>