.carousel-container {
  max-width: 1200px; /* Adjust as needed */
  margin: auto;
}

#image-carousel {
  margin-top: 20px;
}

#image-carousel .splide__slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#thumbnail-carousel {
  margin-top: 10px; /* Adjust spacing as needed */
}

#thumbnail-carousel .splide__slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.splide--thumbnail .splide__slide {
  width: 150px; /* Increase width for larger thumbnails */
  height: 100px; /* Increase height for larger thumbnails */

}

@media (max-width: 600px) {
  .splide--thumbnail .splide__slide {
    width: 100px; /* Smaller thumbnails for mobile view */
    height: 66px;
  }
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: 5px solid #00add0;
}
