<div id="image-carousel" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide" *ngFor="let imagen of imagenes">
        <img [src]="imagen" alt="Image" />
      </li>
    </ul>
  </div>
</div>

<div id="thumbnail-carousel" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide" *ngFor="let imagen of imagenes; let i = index" (click)="changeMainImage(i)">
        <img [src]="imagen" alt="Thumbnail" />
      </li>
    </ul>
  </div>
</div>



