/* Estilo para el contenedor del carrusel */
#carrusel-info {
    float: left; /* Alinear a la izquierda */
    margin-right: 20px; /* Espacio entre el carrusel y el texto de la habitación */
    width: 100%; /* Ancho del carrusel */
}

/* Estilo para el contenedor del texto de la habitación */
#descripcion-habitacion {
    float: left; /* Alinear a la izquierda */
    width: 20%; /* Ancho del texto de la habitación */
}
