<div class="user-profile">
  <div class="user-profile-menu">
    <div class="user-profile-picture">
      <img src="https://64.media.tumblr.com/b32326aeb6604daac7add87ec2d5804e/f1a5b5514a5d6824-c8/s1280x1920/a2a20c83e6a8778580beb358b8a2bceced132960.jpg" alt="User Profile Picture">
    </div>
    <ul>
      <li [routerLink]="['/profile']">Perfil</li>
      <li [routerLink]="['/accommodations']">Mis Alojamientos</li>
      <li [routerLink]="['/reservations']">Mis Reservas</li>
    </ul>
  </div>

  <div class="user-profile-content">
    <div class="user-profile-card">
      <h2>Datos de {{ user.username }}</h2>
      <p>Nombre Completo: {{ user.name }} {{ user.lastName }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Teléfono: {{ user.phone }}</p>
    </div>

    <div class="user-profile-card">
      <h2>Mis Alojamientos</h2>
      <ul>
        <li *ngFor="let accommodation of accommodations">
          <h3>{{ accommodation.nombre }}</h3>
          <p>Descripción: {{ accommodation.descripcion }}</p>
          <p>Región: {{ accommodation.region }}</p>
          <p>Precio:  {{ accommodation.precio }}</p>
        </li>
      </ul>
    </div>

    <div class="user-profile-card">
      <h2>Mis Reservas</h2>
      <ul>
        <li *ngFor="let reservation of reservations">
          <h3>{{ reservation.nombre }}</h3>
          <p>Descripción: {{ reservation.descripcion }}</p>
          <p>Región: {{ reservation.region }}</p>
          <p>Start Date: {{ reservation.startDate }}</p>
          <p>End Date: {{ reservation.endDate }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>

