

<div class="user-profile" *ngIf="user_profile">
  <div class="user-profile-menu">
    <div class="user-profile-picture">
      <img
        src="https://64.media.tumblr.com/b32326aeb6604daac7add87ec2d5804e/f1a5b5514a5d6824-c8/s1280x1920/a2a20c83e6a8778580beb358b8a2bceced132960.jpg"
        alt="User Profile Picture">
    </div>
  </div>

  <div class="user-profile-content">
    <div class="user-profile-card">
      <h2>Datos</h2>
      <p>Nombre Completo: {{ user_profile?.nombreCompleto }}</p>
      <p>Email: {{ user_profile?.cuenta.email }}</p>
      <p>Teléfono: {{ user_profile?.telefono }}</p>
    </div>

    <div class="user-profile-card">
      <h2 class="accordion-header" (click)="toggleAccordion('reservas')">Mis Alojamientos</h2>
      <div [ngClass]="{'show': activeAccordion === 'reservas'}" class="accordion-content">
        <ul>
          <li *ngFor="let alojamiento of user_profile?.alojamientos">
            <h3>{{ alojamiento.nombre }}</h3>
            <p>Dirección: {{ alojamiento.direccion }}</p>
            <p>Cantidad dormitorios: {{ alojamiento.dormitorios }}</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="user-profile-card">
      <h2 class="accordion-header" (click)="toggleAccordion('alojamientos')">Mis Reservas</h2>
      <div [ngClass]="{'show': activeAccordion === 'alojamientos'}" class="accordion-content">
        <div class="row" *ngFor="let reserva of user_profile?.reservas">
          <div class="col-6">
            <ul>
              <li>
                <h3>{{ reserva.alojamiento.nombre }}</h3>
                <p>Fecha inicio: {{reserva.fecha_inicio}}</p>
                <p>Fecha temrino: {{reserva.fecha_fin}}</p>
              </li>
            </ul>
          </div>
          <div class="col-6">
            <img src="{{reserva.alojamiento.imagenes.image1}}" alt="Descripción de la imagen 1" style="width: 200px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

